@use '../../styles/variables' as *;

.container {
  height: 100vh;
  background-image: url('../../../public/assets/error.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  h1 {
    color: $color-primary;
    margin: 20px;
    font-size: 30px;
  }

  h3 {
    color: $color-secondary;
    margin-bottom: 15px;
  }
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.button {
  max-width: 150px;
}
