@use './../../../../styles/variables' as *;

.item {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.is-current {
  background-color: $color-primary;
}

.disabled {
  background: $color-grey;
  cursor: default;
  opacity: 0.4;
  color: $color-secondary;
}
