.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  left: 0;
  width: max-content;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 10px;
  z-index: 1001;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 4px 5px rgba(0, 0, 0, 0.12),
    0px 1px 10px rgba(0, 0, 0, 0.2);

  .close {
    text-align: right;
    cursor: pointer;
    font-size: 10px;
  }
}
