@use "./../../styles/variables" as *;

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  color: $color-tertiary;
  gap: 17.04px;

  a {
    color: $color-tertiary;
  }
}

@media (min-width: $md) {
  .social {
    color: $color-white;

    a {
      color: $color-white;
    }
  }
}
