.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(166, 166, 166, 0.7);

  .children {
    width: max-content;
    padding: 50px 60px;
    height: max-content;
    max-width: 80%;
    background-color: white;
    max-height: 500px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .close-icon {
      position: absolute;
      top: 10px;
      right: 10px;
      color: black;
      cursor: pointer;
    }
  }
}
