@use './../../styles/variables' as *;
.uploader-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  .button {
    width: 40px;
    height: 40px;
    color: white;
  }
  .upload-button {
    background-color: $color-primary;
  }
  .remove-button {
    background-color: $color-dark-grey;
  }
}

.disabled {
  background: $color-grey;
  cursor: not-allowed;
  opacity: 0.4;
  color: $color-secondary;
}
