@use './../../styles/variables' as *;

.container {
  display: none;

  .button {
    width: 100%;
  }
}

@media (min-width: $md) {
  .container {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    width: 50%;
    max-width: 600px;
    .subcontainer {
      width: 50%;

      a {
        width: 50%;
      }
    }
  }
}
